[global]
server.socket_host: "0.0.0.0"
server.socket_port: 6080
#tools.proxy.on: True,
#tools.proxy.base: 'https://bolay.org'
index: 'static/index2.html'
redirect: 'http://localhost:7080/calendar/redirect'
tools.sessions.on: True


[/]
tools.staticdir.root: os.path.abspath(os.getcwd())
tools.staticfile.root: os.path.abspath(os.getcwd())
tools.staticdir.on = True
tools.staticdir.dir = "static"


[/build]
tools.staticdir.on = True
tools.staticdir.dir = "build"


[/cal.pdf]
tools.staticfile.on = True
tools.staticfile.filename = "build/cal.pdf"

[/robots.txt]
tools.staticfile.on = True
tools.staticfile.filename = "build/robots.txt"